body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

/* Position the "For More Info" link at the top-right */
.more-info {
    text-align: right;
    margin-bottom: 10px;
}

.more-info a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

.more-info a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-right: 10px;
}

form button {
    padding: 10px 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center; /* Centering the table content */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
}

th {
    background-color: #f4f4f4;
}

.flashes {
    list-style: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    background-color: #f2dede;
    color: #a94442;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.info {
    background-color: #d9edf7;
    color: #31708f;
}